<div class="back">
	<div class="center-problem-img">
    <%=link_to problems_path do %>
    <%=image_tag('home.png' , class: 'img-responsive' , size: "50")%>
    <%end%>
    <%if current_user%>
    <%=link_to destroy_user_session_path, method: :delete do %>
    <%=image_tag('exit.png' , class: 'img-responsive', size: "50")%>
    <%end%>
    <%end%>
    <%=link_to new_problem_path do %>
    <%=image_tag('new.png' , class: 'img-responsive', size: "50")%>
    <%end%>
</div>
<div class="container">
  <div class="center-form">
<%- model_class = Problem -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
</div>
  </div>
</div>